<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat App</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style.css">
    <script>
      const roomName = "<%= roomName %>";
    </script>
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
</head>
<body>
    <div id="grid-container">
        <div id="content">
            <div id="chat-room-container">
                <div id="room-info">
                    <h1 id="room-title">Room:</h1>
                    <h1 id="room-id"></h1>

                    <ul id="userList">
                        Users:
                    </ul>
                </div>
                <div id="message-super-container">
                    <div id="message-container"></div>
                </div>
                <div id="message-box-container">
                    <div id="message-box">
                        <form id="send-container">
                            <input type="text" id="message-input">
                            <button type="submit" id="send-button">SEND</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
</body>                    
</html>
</html>
